<a class="disabled-a">List</a>
<a class="enabled-a" (click)="navToUpload()">Upload Files</a>

<h1>List</h1>
<table>
    <tr>
        <th>SCORM Folder Name</th>
        <th>Tutor Name</th>
        <th>Uploaded Time</th>
    </tr>
    <tr *ngFor="let scorm of scorms">
        <td>{{scorm.repo_name}}</td>
        <td>{{scorm.tutor_name}}</td>
        <td>{{scorm.upload_time}}</td>
        <td><button (click)="playScorm(scorm.repo_name, scorm.repo_url_name, scorm.user_id)">Embed</button></td>
    </tr>
</table>